body {
	padding: 1%;
	background-color: lightsteelblue
}
a {
	color: black;
	text-decoration: none;
}
a:visited {
	color: purple
}
.negeren {
	text-decoration: line-through;
}
#categories {
	cursor: pointer;
}
summary {
    width: 200px;
}
footer {
    font-size: small;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}
@keyframes updown {
	0% {
		transform: translateY(-100%);
	}

	50% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(-100%);
	}
}
#loader {
    /* https://stackoverflow.com/questions/59135939/how-to-make-an-icon-move-up-and-down-with-css-animation/59136035#59136035 */
    animation: updown 2s ease infinite;
}
