body {
	padding: 1%;
	background-color: lightsteelblue
}
a {
	color: black;
	text-decoration: none;
}
a:visited {
	color: purple
}
.negeren {
	text-decoration: line-through;
}
#categories {
	cursor: pointer;
	width: 40%;
}
